{#{% extends 'cafe/base.html' %}#}
{#{% load static %}#}
{##}
{#{% block main_content %}#}
{#<div class="container">#}
{#    <div class="row_login">#}
{#        <div class="login_picture login_align">#}
{#            <img class="login_picture_inner" src="{% static 'account/images/details/register/person.svg' %}" alt="img">#}
{#        </div>#}
{#        <div class="login_title">#}
{#            Изменение пароля#}
{#        </div>#}
{#            <form method="post">#}
{#                {% csrf_token %}#}
{#                <div class="login_username login_align">#}
{#                  {{ form.old_password.errors }}#}
{#                    {{ form.old_password }}#}
{#                </div>#}
{#                <div class="login_password login_align">#}
{#                    {{ form.new_password1 }}#}
{#                </div>#}
{#                <div class="login_password login_align">#}
{#                    {{ form.new_password2 }}#}
{#                </div>#}
{##}
{#                <div class="login_btn">#}
{#                    <button class="login_btn_inner" type="submit">Изменить пароль</button>#}
{#                </div>#}
{#            </form>#}
{#    </div>#}
{#</div>#}
{##}
{#{% endblock %}#}