{#{% extends 'cafe/base.html' %}#}
{##}
{#{% block title %}#}
{#    Кабинет пользователя#}
{#{% endblock %}#}
{##}
{#{% block main_content %}#}
{#    <div class="container">#}
{#    <p><a href="{% url 'account:order_history' %}">История заказов</a></p>#}
{#    <p><a href="{% url 'account:user_edit' %}">Редактировать личные данные</a></p>#}
{#    <p><a href="{% url 'account:password_change' %}">Изменить пароль</a></p>#}
{#    <p><a href="{% url 'account:logout' %}">Выйти из системы</a></p>#}
{#    </div>#}
{##}
{#{% endblock %}#}